.img-carrousel {
    height: calc(50vh - 76px); 
    object-fit: cover;
    width: 100%;
    display: block;
}

.img carta {
    height: 300px;
    object-fit: cover;
}

@media (max-with: 200px){
    body{
        display: none;
    }
}
.caja{
    position: relative;
    top: -40px;
}