h1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rampart One', cursive;
}

p {
    font-family: 'Press Start 2P', cursive;
}

p1 {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}